name: build
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]
jobs:
  project:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [windows, ubuntu, macos]
    steps:
      - name: Checkout
        uses: actions/checkout@v4.0.0

      - name: Setup Python
        uses: actions/setup-python@v4.7.0
        with:
          python-version: 3.11

      - name: Setup Poetry
        run: pipx install poetry

      - name: Install deps
        run: poetry install --with dev

      - name: Check format
        run: |
          poetry run isort lib
          poetry run black lib
          git diff --exit-code HEAD

      - name: Check lint
        run: poetry run flake8 lib

      - name: Run module
        run: poetry run starter 10
