name: Build
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]
jobs:
  build-package:
    name: Build Package
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Setup uv
        uses: astral-sh/setup-uv@v6.6.1

      - name: Install Dependencies
        run: uv sync --locked

      - name: Check Formatting
        uses: dprint/check@v2.3

      - name: Check Lint
        run: uv run ruff check

      - name: Test Package
        run: uv run pytest -v --cov

      - name: Build Package
        run: uv build
