name: CI
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]
jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [Windows, Ubuntu, macOS]
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0

      - name: Setup Python
        uses: actions/setup-python@v4.7.1
        with:
          python-version: 3.11

      - name: Setup Poetry
        uses: threeal/setup-poetry-action@v1.0.0

      - name: Cache deps
        id: cache_deps
        uses: actions/cache@v3.3.2
        with:
          path: .venv
          key: poetry-${{ runner.os }}-${{ hashFiles('pyproject.toml') }}

      - name: Install deps
        if: steps.cache_deps.outputs.cache-hit != 'true'
        run: poetry install --with dev

      - name: Check format
        run: |
          poetry run isort lib
          poetry run black lib
          git diff --exit-code HEAD

      - name: Check lint
        run: poetry run flake8 lib

      - name: Run module
        run: poetry run my_fibonacci 10
